body {
    display: grid;
    place-items: center;
    background: none;
    background-color: var(--dark-clr);
}

.admin-panel {
    width: 100%;
}

.admin-panel__search {
    font-size: var(--fs-small);
    font-weight: 100;
    width: 70%;
    margin-inline: auto;
    display: block;
    padding-block: 0.5em;
    padding-inline: 1em;
    border: 0.1em solid var(--primary-clr);
    background-color: var(--dark-gray);
    border-radius: 0.4em;
}

.admin-panel__content {
    margin-top: 5em;
}

.admin-panel__row {
    display: flex;
    justify-content: space-between;
    border-bottom: 0.1em solid var(--primary-clr);
    padding-block: 0.5em;
}

.admin-panel__row p {
    color: var(--secondary-clr);
    font-weight: 100;
}

.admin-panel__row p span {
    color: var(--primary-clr);
    font-weight: 100;
}

.btn--edit {
    margin-right: 1em;
}

.btn--del:hover {
    background-color: var(--danger-clr);
    color: var(--light-clr);
    border: 0.1em solid var(--light-clr);
}

.no-results {
    width: 100%;
    text-align: center;
}


/*.edit-form {
    background-color: var(--dark-clr);
    border-radius: 0.2em;
    max-width: 20em;
    min-height: 10em;
    width: 100%;
    padding: var(--m-medium);
}*/

.edit-form__item {
    text-align: center;
    width: 100%;
    font-size: var(--fs-small);
    color: var(--secondary-clr);
    padding-inline: var(--m-small);
    padding-block: var(--m-small);
    border: 0.1em solid var(--light-clr);
    border-radius: 0.1em;
    outline: var(--primary-clr)
}

.btn--save {
    border: none;
    background: none;
    color: var(--secondary-clr);
    font-size: var(--fs-base);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.btn--save:hover {
    color: var(--primary-clr);
}

.btn--signout {
    border: none;
    background: none;
    color: var(--secondary-clr);
    font-size: var(--fs-base);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.btn--signout:hover {
    color: var(--primary-clr);
}

.edit-form {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 40vh;
    padding: 50px;
    background-color: rgba(243, 237, 237, 0, 0212);
    box-shadow: 05 px 70px rgba(39, 38, 37, 0.794);
    backdrop-filter: blur(100px);
    visibility: hidden;
    opacity: 0;
    /*transition: all 2s;*/
}

.active {
    filter: blur(2px)
}

.show {
    visibility: visible;
    opacity: 1;
}


/*transition: all 2s;

}